﻿@{
    ViewData["Title"] = "Створити місце";
}
@model PlaceCreateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма створення місця</span>
    </div>

    <form class="form" method="post" asp-controller="Place" asp-action="CreateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Price">Ціна</label>
            <input class="forminput" asp-for="Price" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceType"> Тип</label>
            <select class="forminput" asp-for="PlaceType" asp-items="Html.GetEnumSelectList<PlaceType>()"></select>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" style="border-right: 2px solid black;" asp-for="IsAvaliable">Доступність</label>
            <input class="forminput" asp-for="IsAvaliable" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="TrainCarId">Id вагона</label>
            <input class="forminput" asp-for="TrainCarId" />
        </div>
        <input class="btn btn-success forminputbutton" type="submit" value="Створити" />
    </form>
</div>
