﻿@{
    ViewData["Title"] = "Редагувати місце";
}
@model PlaceUpdateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма редагування місця з Id @Model.Id</span>
    </div>

    <form class="form" method="post" asp-controller="Place" asp-action="UpdateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Id">Id</label>
            <input class="forminput" asp-for="Id" readonly />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Price">Ціна</label>
            <input class="forminput" asp-for="Price" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceType"> Тип</label>
            <input class="forminput" asp-for="PlaceType" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" style="border-right: 2px solid black;" asp-for="IsAvaliable">Доступність</label>
            <input class="forminput" asp-for="IsAvaliable" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="TrainCarId">Id вагона</label>
            <input class="forminput" asp-for="TrainCarId" />
        </div>
        <input class="btn btn-warning forminputbutton" type="submit" value="Редагувати" />
    </form>
</div>
