﻿@{
    ViewData["Title"] = "Домашня сторінка";
}
@inject IViewLocalizer _localizer

<div>
    <button class="btn btn-dark" onclick="@("window.location.href='" + Url.Action("Index", "AdminPanel") + "'")">@_localizer["ToAdminPanel"]</button>
</div>
