﻿@{
    ViewData["Title"] = "Створити потяг";
}
@model TrainCreateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма створення потяга</span>
    </div>
    
    <form class="form" method="post" asp-controller="Train" asp-action="CreateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Number">Номер</label>
            <input class="forminput" asp-for="Number" />
            <span class="frominputerrorhandler" asp-validation-for="Number"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="RouteId">Id маршруту</label>
            <input class="forminput" asp-for="RouteId" />
            <span class="frominputerrorhandler" asp-validation-for="RouteId"></span>
        </div>
        <input class="btn btn-success forminputbutton" type="submit" value="Створити" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
