﻿@{
    ViewData["Title"] = "Редагувати потяг";
}
@model TrainUpdateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма редагування потяга з Id @Model.Id</span>
    </div>

    <form class="form" method="post" asp-controller="Train" asp-action="UpdateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Id">Id</label>
            <input class="forminput" asp-for="Id" value="@Model.Id" readonly />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Number">Номер</label>
            <input class="forminput" asp-for="Number" value="@Model.Number" />
            <span class="frominputerrorhandler" asp-validation-for="Number"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="RouteId">Id маршруту</label>
            <input class="forminput" asp-for="RouteId" value="@Model.RouteId" />
            <span class="frominputerrorhandler" asp-validation-for="RouteId"></span>
        </div>
        <input class="btn btn-warning forminputbutton" type="submit" value="Редагувати" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
