﻿@{
    ViewData["Title"] = "Редагувати потяг";
}
@model TrainUpdateDto

<form method="post" asp-controller="Train" asp-action="UpdateAction">
    <div>
        <label asp-for="Id">Id</label>
        <input asp-for="Id" value="@Model.Id" readonly/>
    </div>
    <div>
        <label asp-for="Number">Номер</label>
        <input asp-for="Number" value="@Model.Number" />
    </div>
    <div>
        <label asp-for="RouteId">Id маршруту</label>
        <input asp-for="RouteId" value="@Model.RouteId" />
    </div>
    <input type="submit" value="Редагувати" />
</form>