﻿@{
    ViewData["Title"] = "Створити квиток";
}
@model TicketCreateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма створення квитка</span>
    </div>

    <form class="form" method="post" asp-controller="Ticket" asp-action="CreateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="BookDate">Час бронювання</label>
            <input class="forminput" type="datetime-local" asp-for="BookDate" />
            <span class="frominputerrorhandler" asp-validation-for="BookDate"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceId">Id місця</label>
            <input class="forminput" asp-for="PlaceId" />
            <span class="frominputerrorhandler" asp-validation-for="PlaceId"></span>
        </div>
        <input class="btn btn-success forminputbutton" type="submit" value="Створити" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
