﻿@{
    ViewData["Title"] = "Створити квиток";
}
@model TicketCreateDto

<form method="post" asp-controller="Ticket" asp-action="CreateAction">
    <div>
        <label asp-for="BookDate">Час бронювання</label>
        <input type="datetime-local" asp-for="BookDate" />
    </div>
    <div>
        <label asp-for="PlaceId">Id місця</label>
        <input asp-for="PlaceId" />
    </div>
    <input type="submit" value="Створити" />
</form>
