﻿@{
    ViewData["Title"] = "Редагувати квиток";
}
@model TicketUpdateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма редагування квитка з Id @Model.Id</span>
    </div>

    <form class="form" method="post" asp-controller="Ticket" asp-action="UpdateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Id">Id</label>
            <input class="forminput" asp-for="Id" value="@Model.Id" readonly />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="BookDate">Час бронювання</label>
            <input class="forminput" type="datetime-local" asp-for="BookDate" value="@Model.BookDate" />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="PlaceId">Id місця</label>
            <input class="forminput" asp-for="PlaceId" value="@Model.PlaceId" />
        </div>
        <input class="btn btn-warning forminputbutton" type="submit" value="Редагувати" />
    </form>
</div>
