﻿@{
    ViewData["Title"] = "Редагувати вагон";
}
@model TrainCarUpdateDto

<div class="formhandler">
    <div class="formheader">
        <span>Форма редагування вагона з Id @Model.Id</span>
    </div>

    <form class="form" method="post" asp-controller="TrainCar" asp-action="UpdateAction">
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Id">Id</label>
            <input class="forminput" asp-for="Id" value="@Model.Id" readonly />
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="Number">Номер</label>
            <input class="forminput" asp-for="Number" value="@Model.Number" />
            <span class="frominputerrorhandler" asp-validation-for="Number"></span>
        </div>
        <div class="forminputhandler">
            <label class="forminputlabel" asp-for="TrainId">Id потягу</label>
            <input class="forminput" asp-for="TrainId" value="@Model.TrainId" />
            <span class="frominputerrorhandler" asp-validation-for="TrainId"></span>
        </div>
        <input class="btn btn-warning forminputbutton" type="submit" value="Редагувати" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
