input {
    background-color: #F3E3E2;
    box-shadow: none;
    outline: none;
}

select {
    background-color: #F3E3E2;
}

option {
    background-color: #F3E3E2;
}

.main {
    transition: 0.5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    margin-left: 0.75%;
    transition: 0.5s;
}

.tableheader {
    display: flex;
    justify-content: space-between;
}

.formhandler {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forminputhandler {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.forminputlabel{
    width: 40%;
    border: 2px solid black;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 1%;
    padding-bottom: 1%;
}

.forminput {
    width: 60%;
    border: 2px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 17px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.frominputerrorhandler {
    width: 100%;
    color: red;
    font-weight: 600;
}

.forminput:focus {
    outline: none;
}

.forminputbutton {
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}

.formheader {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.header {
    display: flex;
    transition: 0.5s;
    justify-content:space-between;
    margin-top: 0.50%
}

.languageSelect {
    display: none;
}

.languageSelectButton {
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#a {
    list-style-type: none;
    width: 148px;
    margin: 0;
    padding: 0;
}

#b {
    margin-top: 0.10%;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#a img, #languageSelectButton img {
    width: 24px;
}

#a li {
    list-style: none;
    display: flex;
    align-items: center;
}

#a li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#a li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#languageSelectButton li {
    list-style: none;
    display: flex;
    align-items: center;
}

#a li:hover, #languageSelectButton li:hover {
    background-color: #cfd1d0;
}

#languageSelectButton:hover {
    background-color: #cfd1d0;
}

#a li img {
    margin-right: 16%;
    margin-left: 8.5%;
}

#languageSelectButton li img {
    margin-right: 18%;
    margin-left: 5%;
}

#a li span {
    user-select: none;
}

.previous {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.previous:focus {
    box-shadow: none;
}

.next:focus {
    box-shadow: none;
}

table {
    margin-top: 0.75%;
}

table, tr, td {
    border-top: 1px inset #914110;
    border-bottom: 1px inset #914110;
    border-collapse: collapse;
    border-spacing: 0;
}

.adminpanelholder {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 15%;
}

.adminpaneltext {
    width: 100%;
}

.myFooter {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #E1A140;
    transition: 0.5s;
}

.adsholer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.adsimg {
   margin-top: 10px;
   margin-right: 5px;
   margin-bottom: 3px;
   margin-left: 5px;
   height: 30px;
   width: 30px;
}

.companyfootertexthandler {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.companyfootertext {
    text-align: center;
    color: #914110;
    font-size: 14px;
    font-weight: 500;
}

.personalinfohandler {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 0.75%;
}

.personalinfoheader {
    width: 100%;
    color: #532200;
    font-weight: 900;
    font-size: 42px;
}

.personalinfodata {
    color: #E1A140;
    font-weight: 600;
    font-size: 28px;
}

.searholder {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px #91411070;
    width: 70%;
    background-color: #E1A140;
}

.searchform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchlabel {
    font-size: 26px;
    font-weight: 600;
    color: #914110;
}

.searchinput {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 15px 3px #91411070;
}

.searchbutton {
    margin-top: 2%;
    width: 20%;
}

.resultholder {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 15px 5px #91411070;
    width: 70%;
    background-color: #532200;
    color: #E1A140;
}
